/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%;
  -webkit-overlow-scrolling: touch; }

body {
  overflow-x: hidden;
  height: 100%;
  font-family: "aktiv-grotesk", sans-serif;
  text-decoration: none; }
  body .menu-open {
    position: fixed;
    top: 40px;
    left: 40px;
    opacity: 0;
    visibility: hidden;
    width: 46px;
    height: 23px;
    border-bottom: 2px solid #c2c2c2;
    cursor: pointer;
    z-index: 2;
    font-size: 12px;
    -webkit-transition: border-bottom 0.3s;
    -moz-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s; }
    body .menu-open .closed, body .menu-open .opened {
      position: absolute; }
    body .menu-open .closed {
      top: 4px;
      left: 1px;
      opacity: 1;
      color: #c8c8c8;
      letter-spacing: 3px; }
    body .menu-open .opened {
      top: 4px;
      left: 3px;
      opacity: 0;
      color: white;
      letter-spacing: 4.5px; }
  body h1 {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 30px; }
    body h1 a {
      color: #c2c2c2;
      text-decoration: none; }
  body ul {
    list-style: none; }
    body ul a {
      text-decoration: none; }
  body .menu {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    height: 100%;
    padding: 0px 200px;
    position: fixed;
    top: 0px;
    width: 100%;
    opacity: 1;
    visibility: visible; }
    body .menu .menu-dummy {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      visibility: visible;
      background: none; }
    body .menu .holdit {
      z-index: 1; }
    body .menu .big-menu {
      margin-bottom: 30px; }
      body .menu .big-menu li a {
        color: #555;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 53px;
        font-family: "jaf-lapture-display", garamond, sans-serif;
        position: relative; }
        body .menu .big-menu li a span {
          position: absolute;
          left: -20px;
          font-size: 12px;
          bottom: 6px;
          color: #c2c2c2;
          font-family: "aktiv-grotesk"; }
    body .menu .little-menu li {
      display: inline-block;
      padding-right: 15px; }
      body .menu .little-menu li a {
        font-size: 13px;
        color: #CACACA;
        border-bottom: 2px solid #E0E0E0;
        letter-spacing: 1.5px;
        font-weight: 200;
        padding-bottom: 2px; }
  body .view {
    position: relative;
    z-index: -1; }
    body .view .pseudorandom, body .view .rising-falling, body .view .winterprep, body .view .cycle, body .view .floral, body .view .cv {
      display: none;
      opacity: 0;
      margin-top: 100px; }
      body .view .pseudorandom h2, body .view .rising-falling h2, body .view .winterprep h2, body .view .cycle h2, body .view .floral h2, body .view .cv h2 {
        font-size: 12px;
        letter-spacing: 2.5px;
        color: #E6E6E6;
        font-family: "jaf-lapture-display";
        margin-bottom: 30px;
        position: fixed;
        top: 45px;
        right: 47px;
        z-index: 1;
        opacity: 0; }
      body .view .pseudorandom img, body .view .rising-falling img, body .view .winterprep img, body .view .cycle img, body .view .floral img, body .view .cv img {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
        position: relative;
        opacity: 0; }
      body .view .pseudorandom .left-1, body .view .rising-falling .left-1, body .view .winterprep .left-1, body .view .cycle .left-1, body .view .floral .left-1, body .view .cv .left-1 {
        left: -10%; }
      body .view .pseudorandom .right-1, body .view .rising-falling .right-1, body .view .winterprep .right-1, body .view .cycle .right-1, body .view .floral .right-1, body .view .cv .right-1 {
        right: -10%; }
      body .view .pseudorandom .left-2, body .view .rising-falling .left-2, body .view .winterprep .left-2, body .view .cycle .left-2, body .view .floral .left-2, body .view .cv .left-2 {
        left: -5%; }
      body .view .pseudorandom .right-2, body .view .rising-falling .right-2, body .view .winterprep .right-2, body .view .cycle .right-2, body .view .floral .right-2, body .view .cv .right-2 {
        right: -5%; }
      body .view .pseudorandom .push-down-40, body .view .rising-falling .push-down-40, body .view .winterprep .push-down-40, body .view .cycle .push-down-40, body .view .floral .push-down-40, body .view .cv .push-down-40 {
        margin-bottom: 40px; }
      body .view .pseudorandom .piecetitle, body .view .rising-falling .piecetitle, body .view .winterprep .piecetitle, body .view .cycle .piecetitle, body .view .floral .piecetitle, body .view .cv .piecetitle {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 14px;
        margin-bottom: 44px;
        color: #c2c2c2;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        opacity: 0; }
      body .view .pseudorandom .buylink, body .view .rising-falling .buylink, body .view .winterprep .buylink, body .view .cycle .buylink, body .view .floral .buylink, body .view .cv .buylink {
        display: block;
        color: #FFAEAE;
        text-decoration: none; }
      body .view .pseudorandom .video-title, body .view .rising-falling .video-title, body .view .winterprep .video-title, body .view .cycle .video-title, body .view .floral .video-title, body .view .cv .video-title {
        width: 650px; }
      body .view .pseudorandom iframe, body .view .rising-falling iframe, body .view .winterprep iframe, body .view .cycle iframe, body .view .floral iframe, body .view .cv iframe {
        margin: 0 auto;
        display: block;
        opacity: 0; }
    body .view .cv {
      margin-top: 100px; }
      body .view .cv .contain {
        width: 500px;
        margin: 0 auto; }
        body .view .cv .contain h1 {
          font-family: "aktiv-grotesk", helvetica;
          padding-top: 40px;
          color: #E0E0E0;
          font-size: 13px; }
        body .view .cv .contain p, body .view .cv .contain a {
          font-family: "aktiv-grotesk", helvetica;
          letter-spacing: 1px;
          font-weight: 100;
          font-size: 13px;
          line-height: 20px; }
        body .view .cv .contain a {
          color: #FFAEAE;
          text-decoration: none;
          padding-right: 15px; }
        body .view .cv .contain p {
          color: #555; }
  body .footer ul {
    text-align: center; }
    body .footer ul li {
      display: inline-block;
      padding: 60px 20px 80px 20px; }
      body .footer ul li a {
        color: #ccc; }
      body .footer ul li .footer-current {
        color: #555; }
    body .footer ul span {
      color: #E2E2E2; }
