/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%;
  -webkit-overlow-scrolling: touch; }

@font-face {
  font-family: Bespoke;
  src: url("bespoke.ttf") format("truetype"); }
body {
  overflow-x: hidden;
  height: 100%;
  font-family: Bespoke, sans-serif;
  text-decoration: none; }
  body .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute; }
    body .container h1 {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    body .container ul {
      list-style: none; }
      body .container ul a {
        text-decoration: none; }
    body .container .menu {
      padding: 130px; }
      body .container .menu .big-menu {
        margin-bottom: 20px; }
        body .container .menu .big-menu li a {
          color: #CACACA;
          font-size: 20px;
          font-weight: 400; }
      body .container .menu .little-menu li {
        display: inline-block;
        padding-right: 15px; }
        body .container .menu .little-menu li a {
          font-size: 12px;
          color: #CACACA;
          border-bottom: 2px solid #E0E0E0; }
    body .container .view {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      z-index: -1; }
      body .container .view .pseudorandom {
        display: none;
        opacity: 0; }
