
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  height: 100%;
  -webkit-overlow-scrolling: touch;
}
body{
  overflow-x: hidden;
  height: 100%;
  font-family: Roboto, sans-serif;
  text-decoration: none;


  .loading {
    background: $dodger;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 1;
    @include transition (1.2s);
    @include xs {
      display: none;
    }
    h1 {
      text-align: center;
      position: relative;
      top: calc(50% - 29px);
      font-size: 50px;
      letter-spacing: 40px;
      color: white;
      font-weight: 200;
      opacity: .15;
      text-transform: uppercase;
    }
  }
  
  a{
    text-decoration: none;
  }

  li{
    list-style: none;
  }
  .title {
    @include xs {
      height: 0px;
    }

    .mitchell{
    opacity: 0;
    @include transition (.3s);
      @include xs {
        text-align: center;
        width: 100%;
        left: 0px;
      }

      .mitchellbarton{
        text-transform: uppercase;
        font-size: 14px;
        color: gray;
        position: fixed;
        top: calc(50% - 25px);
        left: -53px;
        z-index: 100;
        @include default-type;
        @include rotate (90deg);
        @include cubic (1s);
        @include xs {
          top: 45px;
          left: 0px;
          letter-spacing: 10px;
          @include rotate (0deg);
          width: 100%;
          position: relative;
        }
      }
    }
  }

  .menu-div{
    border-top: 1px solid $dodger;
    border-left: 1px solid $dodger;
    border-bottom: 1px solid $dodger;
    position: fixed;
    top: calc(50% - 40px);
    right: 0px;
    background: none;
    z-index: 100;
    opacity: 0;
    @include cubic (1s);
    @include xs {
      width: 100%;
      text-align: center;
      top: 88px;
      border: none;
      position: relative;
      opacity: 1;
    }
    
    p {
      text-transform: uppercase;
      font-size: 12px;
      color: $dodger;
      background: none;
      padding: 11px;
      @include default-type;
      @include transition (.3s);
      @include xs {
        width: 100px;
        margin: 0 auto;
        color: white;
        background: $dodger;
      }
    }

    &:hover {
      p{
        background: $dodger;
        color: white;
        @include transition (.3s);
      }
    }
  }

  .main-menu{
    height: 100%;
    width: 220px;
    background: $dodger;
    position: fixed;
    right: -220px;
    @include cubic (1s);
    @include xs {
      width: 100%;
      right: -100%;
      top: 0px;
    }
    .menu-options{
      position: relative;
      top: calc(50% - 72px);
      a{
        opacity: 1;
        @include transition (.3s);

        &:hover{
          opacity: .5;
          @include transition (.3s);
        }
      }
    
      .linktitle{
        text-transform: uppercase;
        font-size: 14px;
        color: white;
        font-weight: lighter;
        letter-spacing: 48px;
        @include rotate (90deg);
        @include transition (.3s);
        position: relative;
        top: -108px;
        @include xs {
          letter-spacing: 27px;
          text-align: center;
          top: -83px;
          font-weight: normal;
        }
      }

      .main-home-links{
        width: 45%;
        text-align: center;
        @include margin-position (0 auto, relative);
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        padding: 20px 0px 20px 0px;

        li{
          padding: 7px;

          a{
            color: white;
            font-weight: normal;
            letter-spacing: 1px;
            font-weight: lighter;
            font-size: 14px;
            @include xs {
              font-weight: normal;
            }
          }
        }
      }

      .socialmedia{
        text-align: center;
        position: relative;
        top: 20px;

        li{
          padding: 20px;
          @include xs {
            padding: 15px;
          }
        }

        i{
          color: white;
          font-size: 22px;
        }
      }
    }
  }
  
  .container{
    height: 100%;
    
    .middle{
      width: 80%;
      @include margin-position (0 auto, relative);
      right: 0px;
      height: 100%;
      @include cubic (1s);
      @include xs {
        width: 100%;
        top: -30px;
      }

      .selected-works{
        text-align: center;
        width: 395px;
        height: 100%;
        margin: 0 auto;
        display: block;
        @include xs {
          width: 100%;
        }

        .selected-works-title{
          font-size: 15px;
          font-weight: 300;
          color: #c8c8c8;
          letter-spacing: 7px;
          position: relative;
          top: calc(17% - 30px);
          opacity: 0;
          visibility: visible;
          @include transition (.7s);
          @include xs {
            display: none;
          }
        }

        ul{
          position: relative;
          top: calc(27% - 20px);
          @include xs {
            top: calc(27% - 0px);
          }
          
          li{
            padding: 5px;
            opacity: 0;
            visibility: hidden;
            position: relative;
            top: -10px;
            @include transition (.7s);
            @include xs {
              border-top: 1px solid #f0f0f0;
              opacity: 1;
              visibility: visible;
              top: 0px;
            }

            span{
              color: #c8c8c8;
            }
          }

          #linkz-5 {
            @include xs {
              border-bottom: 1px solid #f0f0f0;
            }
          }

          a {
            color: gray;
            font-size: 13px;
            display: block;
            padding: 20px;
            @include default-type;
          }

          .line{
            @include line;
            @include transition (.3s);
          }

          #line-1{
            width: 10px;
            background: #ff3333;
          }

          #line-2{
            width: 20px;
            background: $dodger;
          }

          #line-3{
            width: 20px;
            background: yellow;
          }

          #line-4{
            width: 60px;
            background: purple;
          }

          #line-5{
            width: 30px;
            background: rgba(0, 211, 197, 1);
          }
        }
      }

      .art{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        z-index: -10;
        opacity: 0;
        @include cubic (.6s);
        
        .titles{
          position: relative;
          top: 62px;
          @include cubic (.5s);

          .art-title{
            text-transform: uppercase;
            text-align: center;
            font-size: 17px;
            color: #c8c8c8;
            letter-spacing: 14.5px;
            font-weight: 300;
            width: 50%;
            top: -10px;
            opacity: 0;
            @include margin-position (0 auto, relative);
            @include transition (1.2s);
            @include xs {
              width: 100%;
              font-size: 12px;
              letter-spacing: 8px;
              color: gray;
            }
          }

          .pagination {
            text-align: center;
            color: #c8c8c8;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 200;
            opacity: 0;
            top: 27px;
            position: relative;
            @include cubic (1s);

            a{
              color: #c8c8c8;
            }

            .highlighted{
              color: gray;
            }
          }

          

          .arrows{
            width: 85%;
            margin: 0 auto;
            display: block;

            li{
              list-style: none;
              width: 50%;
              float: left;
            }

            .gone {
              @include xs {
                display: none;
              }
            }

            .backarrow{
              @include arrows;
              @include cubic (.6s);
              &:hover {
                .leftarrow {
                  left: -15px;
                  @include transition (.3s);
                }
              }
            }

            .leftarrow{
              position: relative;
              left: 0px;
              @include transition (.3s);
              @include xs {
                font-size: 21px;
                color: gray;
              }
            }

            .forwardarrow{
              @include arrows;
              @include cubic (.6s);

              &:hover{
                .rightarrow {
                  right: -15px;
                  @include transition (.3s);
                }
              }
            }

            .rightarrow{
              position: relative;
              right: 0px;
              @include transition (.3s);
              @include xs {
                font-size: 21px;
                color: gray;
              }
            }

            #left{
              text-align: left;
            }

            #right{
              text-align: right;
            }
            
            .scrolldiv{
              position: relative;
              top: 200px;
              .scroll{
                text-align: right;
                font-size: 13px;
                letter-spacing: 2px;
                color: #c8c8c8;
                font-weight: 300;
                
              }
            }
            
          }
        }

        .images-div{
          @include margin-position (0 auto, absolute);
          top: 220px;
          visibility: hidden;
          width: 100%;
          @include cubic (.9s);

          .art-images{
            width: 60%;
            text-align: center;
            margin: 0 auto;
            display: none;
            padding-bottom: 10px;
            max-width: 600px;
            @include transition (.5s);
            @include xs {
              width: 87%;
            }
          }

          .titlzz {
            color: #989898;
          }

          .video {
            text-align: center;
            margin: 0 auto;
            display: none;
            padding-bottom: 10px;
            @include transition (1.2s);
          }

          .piecetitle{
            font-size: 13px;
            font-weight: 300;
            color: #b0b0b0;
            width: 60%;
            margin: 0 auto;
            letter-spacing: 1.3px;
            padding-bottom: 50px;
            max-width: 600px;
            @include xs {
              width: 87%;
            }

          }

          .video-title {
            width: 650px;
            @include xs {
              width: 300px;
            }
          }
        }

        .series{
          display: none;
          @include cubic (.5s);
          @include xs {
            position: relative;
            top: 85px;
          }

          .floral-title{
            width: 45%;
            max-width: 600px;
            @include xs {
              width: 87%;
            }
          }

          .floral-images{
            width: 45%;
            max-width: 600px;
            @include xs {
              width: 87%;
            }
          }
          
          .cycle-title{
            width: 50%;
            max-width: 600px;
            @include xs {
              width: 87%;
            }
          }

          .cycle1{
            width: 50%;
            max-width: 600px;
            @include xs {
              width: 87%;
            }
          }

          .cycle-title2{
            width: 70%;
            max-width: 700px;
            @include xs {
              width: 87%;
            }
          }

          .cycle2{
            width: 70%;
            max-width: 700px;
            @include xs {
              width: 87%;
            }
          }

          .cycle-title3{
            width: 40%;
            max-width: 400px;
            @include xs {
              width: 87%;
            }
          }

          .cycle3{
            width: 40%;
            max-width: 400px;
            @include xs {
              width: 87%;
            }
          }

          .control-title {
            letter-spacing: 7.5px;
            font-size: 16px;
            @include xs {
              font-size: 12px;
            }
          }
        }  
      }
    }

    .about{
      width: 60%;
      margin: 0 auto;
      top: calc(50% - 268px);
      position: relative;
      right: 0px;
      opacity: 0;
      display: none;
      height: 100%;
      padding-bottom: 60px;
      @include cubic (1s);
      @include xs {
        top: calc(50% - 335px);
        width: 86%;
        margin-top: 160px;
        height: 1140px;
      }
      
      .about-backarrow {
        color: #c8c8c8;
        font-size: 13px;
        font-weight: 200;
        letter-spacing: 2.5px;
        position: relative;
        top: 20px;
        @include xs {
          display: none;
        }
        &:hover {
          .about-leftarrow {
            left: -15px;
            @include transition (.3s);
          }
        }
        .about-leftarrow{
          position: relative;
          left: 0px;
          @include transition (.3s);
        }
      }

      h1{
        font-size: 13px;
        letter-spacing: 2px;
        color: #c8c8c8;
        font-weight: 200;
        position: relative;
        top: 30px;
        padding: 30px 0px;
        @include xs {
          text-align: center;
        }
      }
      p{
        font-size: 13px;
        color: gray;
        font-weight: lighter;
        letter-spacing: 1px;
        line-height: 26px;
        position: relative;
        top: 30px;
        @include xs {
          text-align: center;
          padding: 10px 0px;
        }
      }
      .about-section{
        top: 30px;
        position: relative;
        @include transition (1.2s);
      }
      .year{
        padding-right: 30px;
      }

      .whoiam1{
        padding-bottom: 20px;
      }

      #who1, #ex1{
        color: #ff3333;
      }

      #who2, #ex2{
        color: $dodger;
      }

      #who3, #ex3, #ex8{
        color: #c8c8c8;
      }

      #who4, #ex4, #ex9{
        color: purple;
      }

      #who5, #ex5, #ex10{
        color: rgba(0, 211, 197, 1)
      }

      #who6, #ex6, #ex7, #ex11{
        color: $dodger;
      }

      .divider{

      }
    }

    iframe {
      @include xs {
        width: 300px;
        height: 169px;
      }
    }
  }
}

