
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  // height: 100%;
  -webkit-overlow-scrolling: touch;
  background: white;
}

// @font-face {
//   font-family: 'Yup';
//   src: url('../../type/bespoke.eot');
//   src: url('../../type/bespoke.svg'),
//        url('../../type/bespoke.ttf'),
//        url('../../type/bespoke.woff');
// }

// @-webkit-keyframes rotate {
//   100% {-webkit-transform: 360px}
// hello
// }

body{
  overflow-x: hidden;
  // height: 100%;
  // font-family: "aktiv-grotesk", sans-serif;
  font-family: Arial, sans-serif;
  text-decoration: none;

  .follow {
    opacity: 0;
    font-size: 12px;
    position: absolute;
    letter-spacing: 2px;
    @include transition (opacity .3s);
  }

  .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    background: #FFAEAE;
    @include transition (opacity .3s);
    z-index: 3;
    @include xs {
      display: none;
    }

    .load-contain {
      width: 500px;
      margin: 0 auto;
      background: white;
      padding: 20px;
      position: relative;
      top: 40%;
      @include xs {
        width: 180px;
        top: 30%;
      }
    }

    p {
      text-align: center;
      font-size: 50px;
      letter-spacing: 11px;
      color: #FFAEAE;
    }

    #load {
      opacity: 1;
    }
  }

  .menu-open {
    position: fixed;
    top: 40px;
    left: 40px;
    opacity: 0;
    visibility: hidden;
    width: 46px;
    height: 23px;
    border-bottom: 2px solid #555;
    cursor: pointer;
    z-index: 2;
    font-size: 12px;
    @include transition (border-bottom .3s);
    @include transition(width .3s cubic-bezier(.165,.84,.44,1), bottom .3s cubic-bezier(.165,.84,.44,1), opacity .3s, background .3s);
    @include xs {
      top: auto;
      left: 20px;
      bottom: 20px;
      border: none;
      padding: 9px;
      box-shadow: 1px 2px 11px #f2f2f2;
      background: white;
    }

    .closed, .opened {
      position: absolute;
      @include transition (opacity .3s);
    }

    .closed {
      top: 4px;
      left: 1px;
      opacity: 1;
      color: #555;
      letter-spacing: 3px;
      @include xs {
        top: 13px;
        left: 9px;
      }
    }

    .opened {
      top: 4px;
      left: 3px;
      opacity: 0;
      color: white;
      letter-spacing: 4.5px;
      @include xs {
        top: 13px;
        left: 10px;
      }
    }
  }

  h1 {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include xs {
      text-align: left;
    }

    // a {
    //   opacity: 1;
    //   color: #c2c2c2;
    //   text-decoration: none;
    //   @include transition (opacity .3s);
    //   &:hover {
    //     opacity: .5;
    //     @include transition (opacity .3s);
    //   }

    //   @include sm {
    //     &:hover {
    //       opacity: 1;
    //     }
    //   }
    // }
  }

  .bk-hm {
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    color: white;
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;
    @include xs {
      display: none;
      width: 100%;
      margin-bottom: 110px;
    }
    span {
      display: none;
      @include xs {
        display: block;
      }
    }
  }

  .diagonal {
    // font-family: 'aktiv-grotesk', sans-serif;
    font-family: Arial, sans-serif;
    position: absolute;
    transform: rotate(0deg);
    text-decoration: none;
    letter-spacing: 50px;
    text-transform: uppercase;
    font-size: 19px;
    color: rgba(255, 86, 86, 0.34);
    z-index: -1;
    opacity: 0;
    @include transition (transform 60s, opacity .3s);
  }

  .enter-in {
    opacity: 0;
    @include transition (opacity, 1s);

    .on-mob {
      font-size: 19px;
      letter-spacing: 6px;
      display: inline-block;
    }
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  .menu {
    @include display (flex);
    @include flex-direction (column);
    @include justify-content (center);
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    opacity: 0;
    visibility: visible;
    @include transition (opacity .3s);

    .menu-dummy {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      visibility: visible;
      background: none;
      @include transition (opacity .3s);
    }

    .holdit {
      z-index: 1;
      @include xs {
        padding: 32px;
        margin-left: 4px;
        margin-top: -50px;
      }
    }

    .big-menu {
      width: 75%;
      margin: 0 auto;
      margin-bottom: 30px;
      @include transition (opacity .3s);
      @include xs {
        text-align: left;
        opacity: 1;
        width: 100%;
      }

      li {
        display: inline;
        margin-right: 30px;
        @include xs {
          margin-right: 0px;
          padding: 8px 0px;
          display: block;
        }
        a {
          color: #555;
          font-size: 40px;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 53px;
          // font-family: "aktiv-grotesk", helvetica;
          font-family: Arial, sans-serif;
          position: relative;
          opacity: 1;
          text-decoration: line-through;
          @include xs {
            line-height: 19px;
            font-size: 17px;
          }

          .num {
            position: absolute;
            left: -20px;
            font-size: 12px;
            color: #c2c2c2;
            // font-family: "aktiv-grotesk", sans-serif;
            font-family: Arial, sans-serif;
            top: -11px;
            @include xs {
              display: none;

            }

            // &:after {
            //   content: '';
            //   border-bottom: 4px solid red;
            //   position: absolute;
            //   left: 0;
            //   top: 50%;
            //   width: 100%;
            // }
          }

          .comma {
            color: #555;
            display: none;
            @include xs {
                display: none;
            }
          }
        }
      }
    }

    .little-menu {
      width: 75%;
      margin: 0 auto;
      @include xs {
        text-align: left;
        width: 100%;
      }
      li {
        display: inline-block;
        padding-right: 15px;

        a {
          font-size: 13px;
          color: #FFAEAE;
          border-bottom: 2px solid #FFAEAE;
          letter-spacing: 1.5px;
          font-weight: 200;
          padding-bottom: 2px;
          opacity: 1;
          @include transition (opacity .3s);
          @include sm {
            &:hover {
              opacity: 1;
            }
          }
          @include xs {
            font-size: 12px;
          }

          &:hover {
            opacity: .5;
            @include transition (opacity .3s);
          }
        }
      }
    }


  }

  .view {
    position: relative;
    z-index: -1;
    opacity: 1;
    visibility: visible;
    @include transition (opacity .3s);

    .pseudorandom, .rising-falling, .winterprep, .suggestions, .black-sand-white-sand-grey-sand, .a-little-bit-cooler, .cv, .screenshots, .net-presence, .freestylez, .foundation-myths {
      display: none;
      opacity: 0;
      @include transition (opacity .3s);

      @include xs {
        // top: 140px;
      }

      .info-text {
        font-size: 13px;
        line-height: 20px;
        color: #555;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 150px;
        width: 400px;
        opacity: 0;
        @include transition (opacity .5s);
        position: relative;

        @include xs {
          width: 90%;
          margin-bottom: 40px;
        }

        a {
          color: #FFAEAE;
          text-decoration: none;
        }
      }

      .page-info, .pn {
        position: fixed;
        @include transform(translateY(38px));
        @include transition(transform 2s cubic-bezier(.165,.84,.44,1), opacity 1.5s);
        opacity: 0;
        z-index: 1;

        h2, p {
          font-size: 12px;
          letter-spacing: 2.5px;
          color: #555;
          margin-bottom: 30px;
          @include xs {
            margin-bottom: 9px;
          }
        }
      }

      .page-info {
        left: 136px;
        text-align: left;
        @include xs {
          @include transform(translateY(20px));
          left: 20px;
          // margin-top: 44px;
          position: absolute;
          text-align: left;
        }

        .inventory {
          @include xs {
            display: none;
          }
        }

        a {
          color: #FFAEAE;
          text-decoration: none;
          font-size: 12px;
          letter-spacing: 2.5px;
          margin-bottom: 30px;
          z-index: 2;
          display: block;
        }

      }

      .pn {
        font-size: 12px;
        letter-spacing: 2.5px;
        right: 50px;
        text-align: right;
        // @include transition(background-color 1s);

        @include xs {
          display: none;
        }

        a {
          color: #FFAEAE;
          text-decoration: none;
          display: block;
          margin-bottom: 30px;
        }
      }

      .scroll {
        font-size: 12px;
        opacity: 0;
        letter-spacing: 2.5px;
        // position: fixed;
        // @include transform(translateY(49px));
        // @include display(flex);
        // @include justify-content(center);
        // @include transition(transform 2s cubic-bezier(.165,.84,.44,1), opacity 1.5s);
        display: none;
        @include xs {
          display: none;
        }

        p {
          color: #c7c7c7;
        }
      }

      .image-group {
        @include transform(translateY(105px));
        @include transition(transform 2s cubic-bezier(.165,.84,.44,1));
        @include xs {
          @include transform(translateY(172px));
        }
      }

      img {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 120px;
        display: block;
        position: relative;
        opacity: 0;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        @include transition (opacity 1.1s);
        @include sm {
          width: 70%;
        }

        @include xs {
          width: 90%;
          left: 0px;
          right: 0px;
          margin-bottom: 50px;
        }

        &:last-of-type {
          @include xs {
            margin-bottom: 115px;
          }
        }
      }

      .push-down-40 {
        margin-bottom: 40px;
      }

      .piecetitle {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 14px;
        margin-bottom: 44px;
        color: #555;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        opacity: 0;
        @include transition (opacity 1.3s);
        @include sm {
          width: 70%;
        }

        @include xs {
          width: 90%;
        }
      }

      .smaller {
        max-width: 400px;
      }

      .buylink {
        display: block;
        color: #FFAEAE;
        text-decoration: none;
      }

      .video-title {
        width: 650px;
        @include xs {
          width: 85%;
        }
      }

      iframe {
        margin: 0 auto;
        display: block;
        opacity: 0;
        margin-bottom: 120px;
        @include transition (opacity 1.1s);
        position: relative;
        @include xs {
          width: 85%;
          height: 85%;
          margin-bottom: 50px;
        }
      }
    }

    .cv {
      position: relative;
      opacity: 0;
      @include xs {
        padding: 20px;
        position: static;
      }

      .contain {
        width: 590px;
        margin: 0 auto;
        @include transform(translateY(10px));
        @include transition(transform 2s cubic-bezier(.165,.84,.44,1), opacity .3s);
        margin-bottom: 100px;
        @include xs {
          width: 100%;
          margin-bottom: 50px;
        }

        h1 {
          // font-family: "aktiv-grotesk", helvetica;
          font-family: Arial, sans-serif;
          padding-top: 40px;
          color: #E0E0E0;
          font-size: 13px;
        }

        p, a {
          // font-family: "aktiv-grotesk", helvetica;
          font-family: Arial, sans-serif;
          letter-spacing: 1px;
          font-weight: 100;
          font-size: 13px;
          line-height: 20px;
        }

        a {
          color: #FFAEAE;
          text-decoration: none;
        }

        .push-right {
          padding-right: 15px;
        }

        p {
          color: #555;
        }
      }
    }
  }

  // .grad {
  //   position: fixed;
  //   width: 100%;
  //   bottom: 0px;
  //   height: 50px;
  //   background: #FFAEAE;
  // }

  .fullscreen {
    // position: absolute;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    @include display(flex);
    @include align-items(center);

    img {
      height: 90%;
      opacity: 0;
      display: block;
      margin: 0 auto;
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
      @include transition (opacity .3s, transform 2s cubic-bezier(.165,.84,.44,1));
      @include transform (scale(.98));
    }
  }

  .footer {
    opacity: 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background: #FFAEAE;
    @include transition (opacity 1s);
    @include transform (translateY(35px));
    ul {
      text-align: center;
      font-weight: 100;
      @include xs {
        display: none;
      }
      li {
        display: inline-block;
        padding: 60px 20px 80px 20px;
        @include sm {
          padding: 60px 30px 80px 30px;
        }
        @include xs {
          padding: 0px 30px 60px 30px;

        }
        a {
          color: #ccc;
          opacity: 1;
          font-size: 13px;
          @include transition (opacity .3s);
          &:hover {
            opacity: .5;
            @include transition (opacity .3s);
          }
          @include sm {
            font-size: 21px;
          }

          @include xs {
            font-size: 12px;
          }
        }

        .footer-current {
          color: #FFAEAE;
        }
      }

      span {
        color: #E2E2E2;
        font-size: 13px;
      }
    }
  }

  .wrong-page {
    h2 {
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      font-size: 44px;
      color: #555;
      letter-spacing: 2px;
    }

    a {
      color: #FFAEAE;
      text-decoration: none;
    }
  }

}
