
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html{
  height: 100%;
  -webkit-overlow-scrolling: touch;
}

// @font-face {
//   font-family: Bespoke;
//   src: url('bespoke.ttf') format('truetype');
// }

body{
  overflow-x: hidden;
  height: 100%;
  font-family: "aktiv-grotesk", sans-serif;
  text-decoration: none;

  .menu-open {
    position: fixed;
    top: 40px;
    left: 40px;
    opacity: 0;
    visibility: hidden;
    width: 46px;
    height: 23px;
    border-bottom: 2px solid #c2c2c2;
    cursor: pointer;
    z-index: 2;
    font-size: 12px;
    @include transition (border-bottom .3s);

    .closed, .opened {
      position: absolute;
    }

    .closed {
      top: 4px;
      left: 1px;
      opacity: 1;
      color: #c8c8c8;
      letter-spacing: 3px;
    }

    .opened {
      top: 4px;
      left: 3px;
      opacity: 0;
      color: white;
      letter-spacing: 4.5px;
    }
  }

  h1 {
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 30px;

    a {
      color: #c2c2c2;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  .menu {
    @include display (flex);
    @include flex-direction (column);
    @include justify-content (center);
    height: 100%;
    padding: 0px 200px;
    position: fixed;
    top: 0px;
    width: 100%;
    opacity: 1;
    visibility: visible;

    .menu-dummy {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      visibility: visible;
      background: none;
    }

    .holdit {
      z-index: 1;
    }

    .big-menu {
      margin-bottom: 30px;

      li {
        a {
          color: #555;
          font-size: 40px;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 53px;
          font-family: "jaf-lapture-display", garamond, sans-serif;
          position: relative;

          span {
            position: absolute;
            left: -20px;
            font-size: 12px;
            bottom: 6px;
            color: #c2c2c2;
            font-family: "aktiv-grotesk";
          }
        }
      }
    }

    .little-menu {
      li {
        display: inline-block;
        padding-right: 15px;

        a {
          font-size: 13px;
          color: #CACACA;
          border-bottom: 2px solid #E0E0E0;
          letter-spacing: 1.5px;
          font-weight: 200;
          padding-bottom: 2px;
        }
      }
    }

    
  }

  .view {
    position: relative;
    z-index: -1;

    .pseudorandom, .rising-falling, .winterprep, .cycle, .floral, .cv {
      display: none;
      opacity: 0;
      margin-top: 100px;

      h2 {
        font-size: 12px;
        letter-spacing: 2.5px;
        color: #E6E6E6;
        font-family: "jaf-lapture-display";
        margin-bottom: 30px;
        position: fixed;
        top: 45px;
        right: 47px;
        z-index: 1;
        opacity: 0;
      }

      img {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        display: block;
        position: relative;
        opacity: 0;
      }

      .left-1 {
        left: -10%;
      }

      .right-1 {
        right: -10%;
      }

      .left-2 {
        left: -5%;
      }

      .right-2 {
        right: -5%;
      }

      .push-down-40 {
        margin-bottom: 40px;
      }

      .piecetitle {
        width: 50%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 14px;
        margin-bottom: 44px;
        color: #c2c2c2;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 12px;
        line-height: 18px;
        position: relative;
        opacity: 0;
      }

      .buylink {
        display: block;
        color: #FFAEAE;
        text-decoration: none;
      }

      .video-title {
        width: 650px;
      }

      iframe {
        margin: 0 auto;
        display: block;
        opacity: 0;
      }
    }

    .cv {
      margin-top: 100px;

      .contain {
        width: 500px;
        margin: 0 auto;

        h1 {
          font-family: "aktiv-grotesk", helvetica;
          padding-top: 40px;
          color: #E0E0E0;
          font-size: 13px;
        }

        p, a {
          font-family: "aktiv-grotesk", helvetica;
          letter-spacing: 1px;
          font-weight: 100;
          font-size: 13px;
          line-height: 20px;
        }

        a {
          color: #FFAEAE;
          text-decoration: none;
          padding-right: 15px;
        }

        p {
          color: #555;
        }
      }
    }
  }

  .footer {
    // display: none;
    // opacity: 0;
    ul {
      text-align: center;
      li {
        display: inline-block;
        padding: 60px 20px 80px 20px;
        a {
          color: #ccc;
        }

        .footer-current {
          color: #555;
        }
      }

      span {
        color: #E2E2E2;
      }
    }
  }

  
}

